@use "../../../sass/abstracts" as *;

#bottom {
  margin: 40px 40px 25px 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .add-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    background-color: $success;
    border-radius: 10px;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: white;
    transition: 0.3s;

    &:hover {
      background-color: #18a979;
    }
  }

  span {
    font-family: Mulish;
    font-size: 14px;
    font-weight: 700;
    line-height: 10.08px;
    text-align: right;
    color: #80809B;
  }

  @include media(850px) {
    margin: 40px 20px 25px 120px;
  }

  @include media(768px) {
    margin: 40px 40px 25px 90px;

    .add-btn {
      padding: 10px 15px;
    }
  }

  @include media(500px) {
    .add-btn {
      padding: 8px;
      font-size: 14px;
    }

    span {
      font-size: 12px;
    }
  }

  @include media(420px) {
    margin: 40px 40px 25px 55px;
  }
}